contexttimer
diffusers<=0.16.0
einops>=0.4.1
fairscale==0.4.4
ftfy
huggingface-hub==0.21.0
iopath
ipython
numpy==1.25.0
omegaconf
opencv-python-headless==4.5.5.64
opencv-python
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
torch==2.1.2
torchvision
tqdm
transformers==4.33.2
translate
webdataset
wheel
soundfile
moviepy
nltk
peft==0.4.0
easydict==1.9
pyyaml_env_tag==0.1
h5py
